@model MspUg.Web.Models.Recommendations
@{
    var recommendedPages = Model.GetRecommendedPages();
}

<div id="pnlRecommendations" data-context-id="@Sitecore.Context.Item.ID">
    <h3 class="center-title">
        You may also be interested in...
    </h3>
    <div style="clear: both"></div>

    @if (recommendedPages.Count == 0)
    {
        <div>
            <div class="image-wrapper"><img src="/assets/img/nope.png" alt="Unknown" /></div>
            <h4>No recommendations yet, keep on browsing!</h4>
        </div>
        <div style="clear: both"></div>
    }
    else
    {
        <div class="list-group">
            @foreach (var item in recommendedPages.Values)
            {
                var target = string.Empty;
                if (item.OpenInBlankWindow)
                {
                    target = "_blank";
                }
                <a href="@item.Url" target="@target" title="@item.Title" class="list-group-item">@item.Title</a>
            }
        </div>
    }
</div>